// Sticky footer
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: $bleu-eldo;
}

// Back to top
.back-to-top {
    color:black;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.back-to-top:focus, .back-to-top:active {
    background-color: white;
    border-color: $bleu-eldo;
    outline: none;
    box-shadow: none;
}
.back-to-top:hover {
    background-color: $bleu-eldo;
    color: white;
}

// Réseaux sociaux
.site-info {
    padding-top: 5vh;
    .fa-linkedin, .fa-facebook-square, .fa-twitter-square {
        color: $gris-fonce-eldo;
    }
}