html {
  scroll-behavior: smooth;
}

/* Spinner chargement */
.loader {
    position: fixed;
    z-index: 999;
    height: 15em;
    width: 15em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* Container principal */
body {
  position: relative;
}

.site-header {
    height: 100vh;
}

/* NAVBAR */

.navbar {
    box-shadow: 15px 0px 15px #6e6d6d;
    background-color: white;
    height: 100px;
}
.navbar-brand {
    padding-top: 2vh;
    color: $bleu-eldo;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-transform: none;
    background: -webkit-linear-gradient($bleu-eldo, $bleu-eldo) center 2em no-repeat;
    background: linear-gradient($bleu-eldo, $bleu-eldo) center 2em no-repeat;
    background-size: 85% 1px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.burger {
    color: $bleu-eldo;
}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
.nav-link img {
    position: relative;
    bottom: 4px;
    height: 40px;
    width: 60px;
}
nav a:hover, nav a:focus {
    outline: none;
    color: black;
}
.nav-link {
    padding-top: 20px;
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    outline: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(59, 58, 58, 0.3);
    @include font-size(1.25rem);
    font-family: 'Raleway', sans-serif;
}
 .nav-link.active {
   /* A GERER POUR LE SCROLL SPY */
 }

/* Effet hover menu */
.menu-hover a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $bleu-eldo;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.6s, opacity 0.6s, -webkit-transform 0.6s;
    -moz-transition: height 0.6s, opacity 0.6s, -moz-transform 0.6s;
    transition: height 0.6s, opacity 0.6s, transform 0.6s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.menu-hover a:hover::after,
.menu-hover a:focus::after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


/* HEADER */

/* Texte header */
.text-header {
    padding-top: 5vh;

    > h2 {
      @include font-size(3rem);  
      font-family: 'Raleway', sans-serif;
      color: #636161;
    }
    > p {
      @include font-size(2rem);
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      color: $bleu-eldo;
    }
    > p:last-child {
      @include font-size(1.5rem);
      text-transform: lowercase;
      font-family: 'Oxygen', sans-serif;
      color: #636161;
    }
}

  

 /* Image eldo */
.partie-image {
    padding-top: 30vh;
}
.image-header {
    
    > img {
      border-radius: 100%;
      box-shadow: 5px 0px 5px $gris-clair-eldo;
    }

    > img:hover {
        box-shadow:
            1px 0px 1px $gris-clair-eldo,
            2px 0px 2px $gris-clair-eldo,
            3px 0px 3px $gris-clair-eldo;
        -webkit-transition: height 0.6s, opacity 0.6s, -webkit-transform 0.3s;
        -moz-transition: height 0.6s, opacity 0.6s, -moz-transform 0.3s;
        transition: height 0.6s, opacity 0.6s, transform 0.3s;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}

/* Bouton header vers première section */
.to-section {
    padding-top: 15vh;

    .fa-angle-down {
        color: $bleu-eldo;
  }
}
