@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";



@include media-breakpoint-only(lg) {

    .border-eldo {
        display: none;
    }
    .site-header .navbar {
        margin: auto;
    }
    .navbar-nav li a {
        margin: 5px;
        letter-spacing: 2px;
    }
  }


@include media-breakpoint-down(md) {
    
    #slide-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 280px;
        height: 100%;
        background-color: $bleu-eldo;
        overflow: auto;
        padding-top: 10vh;
      }
      .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
      }
      .navbar ul a, .navbar ul a:hover {
          color: white;
      }

      .site-header .partie-image {
        padding-top: 20vh;

        .to-section {
          padding-top: 5vh;
        }
    }

  }

  